# Python / IDE / OS junk
__pycache__/
*.py[cod]
*$py.class
*.so
*.dll
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secret files
secret.txt
secret_*.txt
*.secret
aes_key.txt
*.o
*.pcap
*.csv

# Ignored folders
venv/
results/
decoded/
encoded/
test/
data/
timings/
timings_udp/
timings_udp_v2/

